<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Pete Gaulton | Portfolio | gaulton.me</title>
        <script src="/js/critical.js"></script>
        <link href="/css/site.min.css" type="text/css" rel="stylesheet" />
    </head>

    <body>
        <div id="root"><%- markup -%></div>
        <script src="/js/react-client.min.js"></script>
    </body>
</html>