
h1, h2 {
    font-family: @head-font; 
    margin: 0;
}

h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 1.5em;
}

a {
    text-decoration: none;
}

button {
    margin: 0;
    border: 0;
    cursor: pointer;    
    background: transparent;
}

a, 
button {
    color: @color-blue-med;
    transition: color 0.2s;

    // Fix device touch/hover
    @media (hover: hover) {
        &:hover {
            color: @color-blue-dark;
        }
    }
}

.text-muted {
    color: @font-color-muted;
}

.btn {
    width: 100%;
    display: block;
    text-align: center;
    padding: 0.25em 0;
    border-radius: @border-radius;
    font-size: 1.25em;

}