

header {
    background: @color-blue-med;

    a {
        transition: color 0.2s;
        color: @header-text-color;

        // Fix device touch/hover
        @media (hover: hover) {
            &:hover {
                color: @color-blue-light;
            }
        }
    }

    .container {
    
        .main-header {
            background: @color-blue-med;
            height: @header-height;
            z-index: 2;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .nav-brand,
            .nav-toggle {
                font-size: 1.75em;
                border-radius: @border-radius;
            }

            .nav-toggle {
                padding: 0.5em;
                background: transparent;
                color: #fff;
            }
        }

        nav {
            height: @header-nav-height;
            z-index: 1;

            margin-top: -@header-nav-height;
            transition: margin 0.2s;
            &.nav-open {
                margin-top: 0;
            }

            ul {
                margin: 0;
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 100%;

                li {
                    flex-basis: 100% / 3;
                    padding: 1em 0;

                    a {
                        display: block;
                        text-align: center;
                        border-radius: @border-radius;
                    }
                }
            }
        }
    }
}



@media screen and (min-width: @bp-md) {
    header {
        .container {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .nav-toggle {
                display: none;
            }

            nav {
                margin-top: 0;
                height: 100%;
                flex-basis: 50%;

                ul > li {
                    padding: 0;

                    > a {
                        padding: 1em 0;
                    }
                }
            }
        }

    }
}