
html, body, #root, #layout-wrap {
    height: 100%;
}

body {
    line-height: 1.5;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: @max-width;
    padding: 0 1em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

section {
    padding: 2em 0;

    &.title-section {
        padding-bottom: 0;
    }
}

.grid-layout {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    >div {
        flex-basis: 100% / 3;
        overflow: hidden;

        img {
            width: 60%;
            margin: 0 auto;
            padding-bottom: 1em;
        }
    }
}


@media screen and (min-width: @bp-md) {

    .layout-1 {
        .container {
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;

            >div {
                &:nth-child(1) {
                    padding-right: 1em;
                }
                &:nth-child(2) {
                    padding-left: 1em;
                }
                &.fixed-width-col {
                    width: 50%;
                }
            }
        }
        &.fixed-width-cols .container { 
            align-items: flex-start;

            > div { 
                width: 50%;
            }
        }
    }

}

@media screen and (min-width: @bp-lg) {
    .container {
        width: @max-width;
    }

    .grid-layout > div {
        flex-basis: 100% / 5;
    }
}