@import (less) "node_modules/normalize.css/normalize.css";

img {
    display: block;
    
}

ul {
    list-style: none;
    padding: 0;
}

ul, p, dl {
    margin: 0 0 1em;
}

dl {
    dd, dt {
        margin: 0;
    }
}
