
.critical-js-loaded {
    [class^="slide-in-"] {
        transition: margin 0.3s ease-out, opacity 0.3s ease-in;
        opacity: 0;

        &.slide-in-left {
            margin-left: -10em;
            &.in-view {
                margin-left: 0;
            }
        }
        &.slide-in-right {
            margin-right: -10em;
            &.in-view {
                margin-right: 0;
            }
        }

        &.in-view {
            opacity: 1;
        }
    }
    .fade-in {
        opacity: 0;
        transition: opacity 0.3s ease-in;

        &.in-view {
            opacity: 1;
        }
    }
}
