@import 'https://fonts.googleapis.com/css?family=Montserrat:700';

@import 'node_modules/font-awesome/less/font-awesome.less';

@head-font: 'Montserrat', sans-serif;
@color-grey: rgb(153,153,153);
@color-dark-grey: rgb(100,100,100);
@color-darker-grey: rgb(103, 103, 103);
@font-color-muted: @color-grey; 
@shadow-color: @color-dark-grey;
@color-blue-med: rgb(51, 103, 214);
@color-blue-light: lighten(@color-blue-med, 30%);
@color-blue-dark: rgb(40, 80, 167);

@max-width: 42em;
@bp-lg: @max-width;
@bp-md: 32em;

@header-height: 5em;
@header-nav-height: @header-height / 2;
@text-colour-light: rgb(255,255,255);
@header-text-color: @text-colour-light;

@border-radius: 0.25em;