.contact-page {

    dl {
        dt {
            color: @font-color-muted;
            font-weight: 600;
            
            .btn-inline {
                padding: 0 1em;
                border-radius: @border-radius;
            }            
        }
        dd {
            color: @color-darker-grey;
            font-family: @head-font; 
            font-size: 1.5em;
            margin-bottom: 0.5em;
        }
    }

    section.layout-1 .container > div:nth-child(1) {
        margin-bottom: 1.5em;
    } 
}