
.homepage {

    h1, 
    h2 {
        text-align: center;
    }

    h2 {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .layout-1 {
        h2 {
            margin-top: 0;
            margin-bottom: 0.5em;
        }

        img {
            width: 10em;
            height: 10em;
            border-radius: 50%;
            margin: 0 auto;
        }

    }
}