.work-page {


    .layout-1 {
        img {
            width: 100%;
            //width: 15em;
            //height: 15em;
            border-radius: 50%;
            margin: 0 auto;
        }

        &.fixed-width-cols {
            .container > div:nth-child(1) {
                padding-bottom: 2em;
            }
        }


        .copy-col {
            order: 1;
        }
        .img-col {
            order: 2;
            //width: 15em;
            margin: 0 auto;
        }

        @media screen and (min-width: @bp-md) {
            .container {
                >div {
                    flex: 1;

                    &.copy-col {
                        flex: 2;
                    }
                }
            }
            div.copy-col,
            div.img-col {
                order: initial;
                padding: 0;
            }

        }
    }
}